*.o
too-many-connections
close-no-read
test_cmdserv_tokenize
test_cmdserv_tokenize.out
test-cmdserv-helpers
test-cmdserv-helpers.out
test_cmdserv
test_cmdserv.stderr
test_cmdserv.stdout
test_cmdserv.conn
minimal_cmdserv
*.gcda
*.gcno
*.gcov
